@media(min-width:576px) and (max-width:690px){
    
    div.bottom > div.page{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        column-gap: 25px;
        row-gap: 25px;
    }
    div.bottom > div.page > div.post {
        width: 90%;
        padding-bottom: 15px;
        background-color: white;
        display: flex;
        flex-flow: column wrap;
        row-gap: 10px;
        align-items: center;
        position: relative;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.306);
    }
    div.bottom > div.page > div.post > div.date {
        width: 42px;
        background-color: white;
        font-family: irannum;
        text-align: center;
        color: var(--mcolor);
        position: absolute;
        top: 15px;
        left: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 0;
        z-index: 888;
        padding: 4px;
    }
    div.bottom > div.page > div.post > div.date > span:nth-of-type(1) {
        font-size: 18px;
    }
    div.bottom > div.page > div.post > div.date > span:nth-of-type(2) {
        font-size: 12px;
    }
    div.bottom > div.page > div.post img {
        width: 100%;
    }
    div.bottom > div.page > div.post img:hover {
        opacity: 0.7;
    }
    div.bottom > div.page > div.post > a:nth-of-type(2) {
        color: gray;
        font-size: 11px;
        font-weight: 300;
    }
    div.bottom > div.page > div.post > a:nth-of-type(3) {
        color: black;
        font-size: 13px;
        font-weight: 300;
        padding: 0 15px;
        text-align: center;
    }   
}